{% extends 'index.html' %}
{% block main %}
<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>Registro de categorias</h3>
            <i class='bx bx-search' ></i>
            <i class='bx bx-filter' ></i>
            <a href="/add_form/categoria"><i class='bx bx-plus'></i></a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in Categoria %}
                <tr>
                    <td>{{categoria.1}}</td>
                    <td>{{categoria.2}}</td>
                    <td>
                        <a href="/edit_categoria/{{categoria.0}}"><span class="status completed">Editar</span></a>
                        <a href="/delete_categoria/{{categoria.0}}"><span class="status pending">Eliminar</span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}